<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Home CARIA1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="fonts/SegmentLED.ttf">
    <script src="js/jquery.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="http://192.168.253.194:8000/">CARIA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://192.168.253.194:8000/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://192.168.253.194:8000/access">Accès</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="http://192.168.253.194:8081">Vidéo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://192.168.253.194:8000/tests">Test</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container text-center my-4">
        <h1 class="mb-4">Interface d'accès</h1>
        <div class="card mx-auto shadow-lg" style="max-width: 500px;">
            <div class="card-body">
                <h3 class="h5">Dernière validation reçue</h3>
                <p class="mb-2"><strong>Nom:</strong> {{name}}</p>
                <p class="mb-2"><strong>Confiance:</strong> {{confidence}}</p>
                <p><strong>Status:</strong> {{status}}</p>
            </div>
        </div>
            <div class="row">
                <div class="col">
                    <hr><p class="footer fw-bold">CARIA Project | Cunat-Brulé © 2023-2024 Tous droits réservés
                </div>
            </div>
        </div>
    </div>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>