<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARIA</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> 
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/jquery.js"></script>

</head>
<body>
<div id="container" class="container" align="center">
    <hr><h1>Interface de tests</h1><hr>

</div>
</body>
</html>
