@font-face {
    font-family: 'SegmentLED';
    src: url('../fonts/SegmentLED.ttf') format('truetype');
}
/* Compteur de vitesse */
input {
    margin: 5px 5px 5px 5px;
    width: 250px;
}
.speedometer {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    background: url('../images/speedometer.png') no-repeat center center;
}
.counter {
    position: relative;
    bottom: 98px;
    left: 50px;
    font-size: 48px;
    text-align: center;
	color: blue;
    width: 200px;
}
.led-counter {
    font-family: "SegmentLED", sans-serif;
}
.pointer {
    position: absolute;
    top: 38px;
    left: 150px;
    transform-origin: 49% 92%;
    transform: translateX(-50%) rotate(0deg);
    transition: transform 0.5s ease;
}
.pointer img {
    width: 100%;
    max-height: 120px; /* Reduire la hauteur de l'aiguille */
    height: auto;
}
/* Button de déplacement */
.button_cmd {
    margin: 5px 5px 5px 5px;
    width: 80px;
    height: 60px;
    transition: box-shadow 0.3s;
    border-radius: 50px;
}
.form-check-input {
    transform: scale(1.5); /* Augmente la taille du bouton */
}